

.carousel-container-51 {
  position: relative;
  width: 80%;
 // overflow: auto;
  margin: 0 auto; 
 margin-top: 70px;
  text-align: center; 
}

.product-details-51 {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth; 
  cursor: grab; 
} 

.card-51 {
  flex: 0 0 auto;
  margin-right: 10px;
  width: 17rem;
  height: 20rem;
  border: 1px solid #ccc; 
  border-radius: 5px;
}

.card-51:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}

.card-img-top-51 {
  margin-top: 15px;
  width: 100px;
  height: 100px;
}

.card-body-51 {
  padding: 10px;
}

.card-title-51 {
  margin-bottom: 5px;
}

.card-text-51 {
  font-size: 14px;
  color: #666;
}

.carousel-button-51 {
  position: absolute;
  top: 80%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
}

.carousel-button-51.prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
}

.carousel-button-51.next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
}
