

h2 {
    text-align: center;
    color: #007bff; 
  }
  
  button.continue-shopping {
    position: fixed;
    top: 10px;
    right: 20px;
  }
  button.remove {
  margin-right: 5px;
  }


  button.twobtn{
   
     margin: 20px;
     display: flex;
      
      }
      