
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300%;
  }
  
 
  .btn-primary {
    background-color: #007bff; 
    border-color: #007bff;
    color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3; 
    border-color: #0056b3;
  }
  

  .btn:hover {
    transition: background-color 0.3s ease;
  }
  