

.product-container {
  display: flex;
  flex-direction: column;
 //  margin-left: 20%;
  

}

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card3 {
    width: 400px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  }
  }
  
  .card-image3 {
    width: 100px;
    height: 100px;
    border-radius: 8px;
    transition: transform 0.3s ease;  

    
  }
  .card-image3:hover {
    transform: scale(1.3); 
  }
  .card-details3 {
    margin-top: 10px;
  }
  
  .card-title3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .card-price3 {
    margin-top: 5px;
  }
  
  .card-description3 {
    margin-top: 5px;
  }
  
  .card-category3 {
    margin-top: 5px;
  }
  
  .card-rating3 {
    margin-top: 10px;
  }
  .filter-container {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px; 
    margin-top: 20px;
    
  }
  
  .filter-container input[type="text"] {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 5px 5px 5px lightblue;
  }
  
  .filter-container select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 5px 5px 5px lightblue;
  }
  

  .product-container button {
    background-color: #007bff; 
    border-color: #007bff;
    color: #fff; 
    margin-right: 10px;
    border-radius: 4px;
  }
  
  .product-container button:hover {
    background-color: #0056b3; 
    border-color: #0056b3;
  }

.pagination {
  margin-top: 20px;
  display: flex;
 // justify-content: center;
  margin-bottom: 10px;
  margin-left: 40%;
  
}
.pagination button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.pagination button:hover {
  background-color: #0056b3;
}
.pagination button[disabled] {
  background-color: #ccc;
  color: #666
}





  